.grid * {
    text-align:center;
    border: 1px solid black;
    background-color:grey;
    font-size:75px;
    font-family:sans-serif;
}

.grid{
    display:grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows:2fr repeat(6, 1fr);
}

.grid > div:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 5;
}

.grid > div:nth-child(18){
    grid-column-start: 1;
    grid-column-end: 3;
}

.orange{
    background-color:darkorange;
}

.dark{
    background-color:darkslategray;
}
